{% load staticfiles %}
<html>
    <head>
        <title>没钱赚商店</title>
        <link rel="stylesheet" href="{% static 'css/pos.css' %}">
    </head>
<body>
     <div class="tit">
        <ul>
            <li><a href="/" >Let‘s Go！</a></li>
            <li  class="background"><a href="http://127.0.0.1:8000" >主页</a></li>
            <li><a href="/" >商品列表</a></li>
            <li><a href="/" ><img src="/static/car.png"/>购物车(0)</a></li>
        </ul>

    </div>

    <div class="page">
        <h1>Welcome to Let's Go!</h1>
        <p>
            商店里进行购物结算时会使用收银机（POS）系统,这台收银机会在结算时根据客户的购物车（Cart）中
            的商品（Item）和商店正在进行的优惠活动（Promition）进行结算和打印购物清单。已知该商店正在
            对部分商品进行“买二赠一”的优惠活动。我们需要实现一个名为printlnventory函数,该函数能够将
            指定的格式的数据作为参数输入,然后在浏览器的控制台中输出结算清单的文本。
        </p>
        <button class="button">Let's Go!</button>
    </div>
</body>
</html>